section.input(class=className)
    - const inputDisabled = disabled ? {'disabled':''}: ''
    input(type=type, name=name, value=value, placeholder=placeholder)&attributes(inputDisabled)
    if button
        button.input-button


