section.reviewes(class=className)
    each element in list
        li.reviewes-element
            img.reviewes-img(src=element.img)
            .reviewes-sidebar
            h3.reviewes-name #{element.name}
            p.reviewes-date #{element.date}
            p.reviewes-text #{element.text}