section.input(class=className)
    if title
        h3.input-title #{title}
    - const inputDisabled = disabled ? {'disabled':''}: ''
    input(type=type, name=name, value=value, placeholder=placeholder)&attributes(inputDisabled)
    if button
        section.input-button


