section.input(class=className)
    if title
        h3.input-title #{title}
    input.input-node(type=type, name=name, value=value, placeholder=placeholder)
    if button
        section.input-button


