mixin header-navigation(list)
    nav.header-navigation
        each link in list
            if Array.isArray(link)
                - const subNav = link
                .navigation-dropdown
                    a.navigation-link.navigation-link_title(href=link[0].src) #{link[0].name}
                    nav.dropdown-list
                        each link, index in subNav
                            if index != 0
                                a.navigation-link.navigation-link_dropdown(href=link.src) #{link.name}                            
            else
                a.navigation-link(href=link.src) #{link.name}