section.reviewes
    h2.title #{title}
    ul.list
        each element in list
            li.element
                img.icon(src=element.icon)
                .likes #{element.likes}
                h3.name #{element.name}
                p.date #{element.date}
                p.text #{element.text}
